
XPUB='xpub6CHQ3nCm45MENo63qPMEgdfbP86Cb4AaHqAzAP5Guvuiy3SM4JLufwpfxouNeYK4osLciEmeLHwjXAdFBXmh2h1g78UC7QdKFxEJgJ82JXM'


# NETWORKS
## Sepolia
SEPOLIA_NAME="sepolia"
SEPOLIA_CHAIN_ID=11155111
SEPOLIA_RPC_URL="https://sepolia.infura.io/v3/api-key"
SEPOLIA_RPC_WS_URL="wss://sepolia.infura.io/ws/v3/api-key"
SEPOLIA_CURRENCY="USDT"
SEPOLIA_DECIMALS=6
SEPOLIA_MOCK_USDT_ADDRESS="0x6920e98F7dAA4F6c89C4baadB115daEF1b31EeA7"



## Base Sepolia
BASE_SEPOLIA_NAME="base_sepolia"
BASE_SEPOLIA_CHAIN_ID=84532
BASE_SEPOLIA_RPC_URL="https://sepolia.base.org"
BASE_SEPOLIA_WS_URL="wss://base-sepolia.infura.io/ws/v3/api-key"
BASE_SEPOLIA_USDC_ADDRESS="0x036CbD53842c5426634e7929541eC2318f3dCF7e"
BASE_SEPOLIA_CURRENCY="USDC"
BASE_SEPOLIA_DECIMALS=6


CLIENT_URL="http://localhost:3001"
PORT=3000


# Database
MYSQL_DATABASE_HOST=127.0.0.1
MYSQL_DATABASE_PORT=3307
MYSQL_DATABASE_USER=appuser
MYSQL_DATABASE_PASSWORD=12345678
MYSQL_DATABASE_NAME=giftcard_shop


## SCRIPTS
## SWEEPER
SWEEP_INTERVAL_MS=900000 # 15 minutes
SWEEP_TREASURY_ADDRESS=0xYourTreasuryAddressHere
SWEEP_MNEMONIC="your twelve word mnemonic here"


## XPUB GENERATION
XPUB_MNEMONIC="your twelve word mnemonic here"

