SEPOLIA_RPC_URL="https://sepolia.infura.io/v3/YOUR_API_KEY"
SEPOLIA_PRIVATE_KEY=

MOCK_USDT_CONTRACT_ADDRESS="0xYourMockUSDTContractAddress" # address of the deployed MockUSDT contract on Sepolia tsestnet
WALLET_ADDRESS="0xYourWalletAddress"   # to receive the minted tokens